.fwb {
  font-weight: bold;
}

.fwn {
  font-weight: normal;
}

.fsl {
  font-size: 14px;
}

.fsm {
  font-size: 10px;
}

.tag {
  color: #ccc;
}

.box{
  font-family: Helvetica, Arial, sans-serif;
}

.box a{
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}